{% if item.ssl_enabled %}server {

  listen 80;
  server_name {{ item.domain }} www.{{ item.domain }};
  return 301 https://{{ item.domain }}$request_uri;
}
server {

  listen 443;
  server_name www.{{ item.domain }};
  return 301 https://{{ item.domain }}$request_uri;
}
{% endif %}
server {

  {% if item.ssl_enabled %}listen 443;
  {% else %}listen 80;
  {% endif %}
server_name {{ item.domain }};
{% if item.ssl_enabled %}include includes/ssl.conf;
  {% endif %}
{% if item.gzip_enabled %}include includes/gzip.conf;
  {% endif %}
{% if item.expires_enabled %}include includes/expires.conf;
  {% endif %}
{% if item.security_headers_enabled %}include includes/headers.conf;
  {% endif %}
  access_log {{ nginx_log_path }}/{{ item.domain }}_access_log;
  error_log {{ nginx_log_path }}/{{ item.domain }}_error_log;
  {% if item.ssl_enabled %}ssl_certificate {{ item.ssl_crt_path }};
  ssl_certificate_key {{ item.ssl_key_path }};{% endif %}
  root /home/{{ item.user }}/public_html/;
  location / {

    try_files $uri $uri/ /index.php?$args;
    index index.php;
  }

  location ~ \.php$ {

    include {{ fastcgi_params_location }};
    try_files $uri =404;

    fastcgi_pass unix:{{ php_fpm_socket_location }}/{{ item.domain }}.sock;
  }
  location = /favicon.ico {

    log_not_found off;
    access_log off;
  }
  location ~ /\.ht {

    deny all;
  }
  location = /robots.txt {

    allow all;
    log_not_found off;
    access_log off;
  }
}
