{% if item.ssl_enabled %}server {
  listen 80;
  server_name {{ item.domain }} www.{{ item.domain }};
  return 301 https://{{ item.domain }}$request_uri;
}
  server {
  listen 443;
  server_name www.{{ item.domain }};
  return 301 https://{{ item.domain }}$request_uri;
}{% endif %}
server {
  {% if item.ssl_enabled %}listen 443;
  {% else %}listen 80;
  {% endif %}
  ## Your website name goes here.
  server_name {{ item.domain }};
  {% if item.ssl_enabled %}include includes/ssl.conf;
  {% endif %}
  {% if item.gzip_enabled %}include includes/gzip.conf;
  {% endif %}
  {% if item.expires_enabled %}include includes/expires.conf;
  {% endif %}
  {% if item.security_headers_enabled %}include includes/headers.conf;
  {% endif %}
  {% if item.ssl_enabled %}ssl_certificate {{ item.ssl_crt_path }};
  ssl_certificate_key {{ item.ssl_key_path }};{% endif %}
  ## Your only path reference.
  root /home/{{ item.user }}/public_html/;
  ## This should be in your http block and if it is, it's not needed here.
  index index.php;

  location = /favicon.ico {
          log_not_found off;
          access_log off;
  }

  location = /robots.txt {
          allow all;
          log_not_found off;
          access_log off;
  }

  location / {
          # This is cool because no php is touched for static content.
          # include the "?$args" part so non-default permalinks doesn't break when using query string
          try_files $uri $uri/ /index.php?$args;
  }

  location ~ \.php$ {
          #NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini
          include {{ fastcgi_params_location }};
          fastcgi_intercept_errors on;
          fastcgi_pass unix:{{ socket_location }}/{{ item.domain }}.sock;
  }

  location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
          expires max;
          log_not_found off;
  }
}
